<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %> 
<body class="dark-mode" style="overflow-y: hidden;">
  <div class="wrapper">
    <div class="content-wrapper" style="background-color: #666699;">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="card card-outline card-red">
              <div class="card-header">
                <h3 class="card-title">Verify / Reject</h3>
              </div>
              <div class="card-body">
                <form method="post" action="/admin/verify" role="form">
                  <select name="name" class="select2-dark">
                    <% users.forEach(user => { %>
                      <option value="<%- user.username %>"><%- user.username %></option>
                      <% user.codes.forEach(name => { %>
                        
                      <% }) %>
                    <% }); %>
                  </select>
                  <select name="code" class="select2-dark">
                    <% users.forEach(user => { %>
                      <% user.codes.forEach(name => { %>
                        <option value="<%- name %>"><%- name %></option>
                      <% }) %>
                    <% }); %>
                  </select>

                  <button name="verify" class="btn btn-success">Verify</button>
                  <button name="reject" class="btn btn-danger">Reject</button>
                </form>
              </div>
            </div>
            <div class="card card-outline card-red"></div>
            <div class="card card-outline card-red"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>